<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.gtalkstatus.android"
      android:versionCode="5"
      android:versionName="1.5">
    <application android:name=".GTalkStatusApplication" android:label="@string/app_name" android:icon="@drawable/logo">
        <activity android:name="GTalkStatusActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="GTalkStatusSettingsActivity" />
        <service android:name=".GTalkStatusUpdater" />
        <receiver android:name=".GTalkStatusIntentReceiver">
    		<intent-filter>
                <action android:name="com.doubleTwist.androidPlayer.playstatechanged"/>
                <action android:name="com.doubleTwist.androidPlayer.metachanged"/>
                <action android:name="com.android.music.playstatechanged"/>
                <action android:name="com.android.music.playbackcomplete"/>
                <action android:name="com.android.music.metachanged"/>
				<action android:name="com.android.music.queuechanged"/>
                <action android:name="com.htc.music.playstatechanged"/>
                <action android:name="com.htc.music.playbackcomplete"/>
                <action android:name="com.htc.music.metachanged"/>
				<action android:name="com.htc.music.queuechanged"/>
				<action android:name="com.gtalkstatus.android.statusupdate"/>
    		</intent-filter>
    	</receiver>
        <!-- The application's publisher ID assigned by AdMob -->
        <meta-data android:value="a14c742c2808e9a" android:name="ADMOB_PUBLISHER_ID" />
        
        <!-- Track Market installs from AdMob ads -->             
        <receiver android:name="com.admob.android.ads.analytics.InstallReceiver" android:exported="true">
                <intent-filter>
                        <action android:name="com.android.vending.INSTALL_REFERRER" />
                </intent-filter>
        </receiver>
    </application>
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest> 
